.jumbotron {
  background-color: CornflowerBlue;
  color: black;
  margin-top: 50px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: CornflowerBlue;
  margin-bottom: 0px;
  margin-top: 10px;
}

.btn {
  background-color: burlyWood;
  width: 100%;
}

.card-hotel {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex:1 200px;
   margin-top: 10px;
}

.footer-address-icon {
  padding-right: 10px
}

.tab-content {
 padding-top: 10px
}
