$azul: #6495ed;
$naranja: #deb887;
$amarillo: #fce803;
$rojo: #e60923;
$verde: #2aad13;


@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
  background-color: $azul;
  color: black;
  @include margenes(50px,10px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $azul;
  @include margenes(10px,0px);
}

.btn {
  background-color: $naranja;
  width: 100%;
}

.card-hotel {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex:1 200px;
  @include margenes(10px,0px);
}

.footer-address-icon {
  padding-right: 10px
}

.tab-content {
 padding-top: 10px
}
