.jumbotron {
  background-color: #6495ed;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #6495ed;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn {
  background-color: #deb887;
  width: 100%; }

.card-hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
