
@blue: #6495ed;
@naranja: #deb887;

.margenes(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
  background-color: @blue;
  color: black;
  .margenes(50px,10px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @blue;
  .margenes(10px,0px);
}

.btn {
  background-color: @naranja;
  width: 100%;
}

.card-hotel {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex:1 200px;
  @include margenes(10px,0px);
}

.footer-address-icon {
  padding-right: 10px
}

.tab-content {
 padding-top: 10px
}
